
body {
    margin: 0px;
    background-image: url(../images/background1.jpg);
}
main {
    /*     width: 40%;*/
        margin: 10px auto;
        background-color: #F2F2F2;
        width: 40%;
        margin: 15px auto;
        border-radius: 10px;
        padding: 10px;
        opacity: 0.91;
}

.form-select {
    width: fit-content;
    margin: 10px auto;
    
}
.submit-login {
    display: block;
    width: fit-content;
    margin: 10px auto;
}
.sp {
    margin: 10px auto;
}

@media (min-width: 701px){

}

@media(max-width: 700px){
    main {
        width: 100%;
        margin: 0px;
        background-color: #F2F2F2;
        padding: 10px 0px;
        border-radius: 0px;
        opacity: 0.91;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .sz-select {
        width: auto;
    }
}